@import "./reset.css";

@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix")
      format("embedded-opentype"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff")
      format("woff"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf")
      format("truetype");
}

/* for js */

* {
  font-family: "NanumBarunGothic";
}

body {
  background-color: #eff0f2;
}

.header {
  width: 100vw;
  background-color: #fff;

  .header_section {
    width: 980px;
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

    .logo a span {
      font-size: 22px;
      color: #00cc49;
    }
    .logo a span:first-child {
      font-weight: 700;
    }

    .header_menu-ul {
      display: flex;
      li {
        display: flex;
        margin-left: 25px;
        i {
          opacity: 0.3;
          margin-right: 10px;
        }
      }
      li:last-child {
        opacity: 0.3;
      }
    }
  }
}

.main {
  max-width: 980px;
  width: 100vw;
  border: 1px solid aquamarine;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 35px;
  margin-bottom: 120px;

  .main_header {
    margin-bottom: 22px;
    border: 1px solid crimson;
  }

  .slider {
    display: flex;
    animation: slide 10s linear infinite;
  }

  .main_menu-ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    background-color: white;
  }

  .main_menu-ul li {
    padding: 60px 0;
  }

  .main_contents {
    background-color: white;
    border: 1px solid olive;

    .culture_report {
      position: relative;

      p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
      }
    }
  }

  .card_container {
    padding: 50px 50px;

    h2 {
      margin-bottom: 15px;
    }

    .card_grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, 282px);
      grid-auto-rows: 160px;
      gap: 16px;

      .card {
        border: 3px solid #e6e6e6;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h3 {
          color: #2db400;
          margin-bottom: 25px;
          font-size: 20px;
        }

        & > p {
          color: #666;
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
  }

  .card_container:last-child {
    padding-bottom: 80px;
  }
}

.footer {
  border: 1px solid salmon;
  box-sizing: border-box;

  .footer_section {
    max-width: 980px;
    width: 100vw;
    height: 90px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid royalblue;

    .policy {
      display: flex;

      p {
        font-size: 12px;
      }

      & > p {
        margin: 0px 5px 0px 10px;
      }

      a:first-child {
        font-weight: 700;
      }
    }

    .relrated_site {
      position: relative;
      .select_btn {
        width: 224px;
        height: 34px;
        display: flex;
        justify-content: space-between;
        padding: 10px;
      }

      .select_contents {
        width: 224px;
        height: 105px;
        padding: 20px;
        border: 1px solid crimson;
        position: absolute;
        top: -104px;
        display: none;
        background-color: #eee;
        box-sizing: border-box;
        line-height: 22px;
        font-size: 14px;
      }

      .select_contents.on {
        display: block;
      }
    }
  }
}

/* 애니메이션 */
@keyframes slide {
  0% {
  }
  8% {
    transform: translateX(-980px);
  }
  50% {
    transform: translateX(-980px);
  }
  58% {
    transform: translateX(-1960px);
  }
  100% {
    transform: translateX(-1960px);
  }
}

// 반응형 만들기 => 모바일용으로
// hover 추가
// 슬라이드 넘기기 추가
// SASS로 정리 => 변수 및 mixin추가
